{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

      <div class="main">
        <div class="overlay">
            <div class="middle-portion-2">
                <div class="middle-header">
                    <h2>Welcome</h2>
                    <p>to Mpedigree</p>
                </div>
                <a href="employees">
                    <div class="bar"> <h5>
                        Employees
                    </h5></div>
                </a>
                <a href="employees/supervisors">
                    <div class="bar"> <h5>
                        Supervisors
                    </h5></div>
                </a>
                <a href="employees/add-bulk">
                    <div class="bar"> <h5>
                        Add Bulk Employers
                    </h5></div>
                </a>
                <a href="logs">
                    <div class="bar"> <h5>
                        Logs
                    </h5></div>
                </a>
            </div>

        </div>

    </div>
{% endblock content %}