
{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container">
    <div class="form-header row">
        <h1 class  = "col-6 mt-5 pt-5">Add employee</h1>
        <img class  = "col-4" width="30%" src="{% static 'images/forms.png' %}" alt="" srcset="">
    </div>

    
    
   <form class="employee-form" method = "post" action="/employees/add">
    {% csrf_token %}
    <div class="row">
        
    {% for field in form  %}
        <div class="form-group col-lg-6  col-sm-10">
         <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{field}}

        {% if field.errors %}
        {% for error in field.errors  %}
        <small class = "error"> {{error}}</small>
        {% endfor %}
        {% endif %}
        </div>
      
    {% endfor %}
    </div>

   <button type="submit" class="btn btn-primary mb-3">Submit</button>
   </form>
    </div>
{% endblock content %}