
{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="">
    <h1>Supervisors</h1>
    <a href="/employees/supervisors/add"> Add Supervisor</a>
 
     {% if not supervisors %}
    
   <div class="main-title">
        <h3>
            Sorry
        </h3>
    
        <img width="45%" src="{% static 'images/not_found.png' %}" alt="" srcset="">
        <p>No Supervisors added yet<br> <a href="/employees/supervisors/add">Click here to add an supervisor</a> </p>
    </div>

    {% else %}
       <div class="row">
      <div class="col-2 bold">
        <p>First name</p>
      </div>
      <div class="col-2 bold">
        <p class = "bold">Last name</p>
      </div>
      <div class="col-3">
        <p>Email</p>
      </div>
      <div class="col-1">
        <p>Age</p>
      </div>
      <div class="col-2">
        <p>Date of employment</p>
      </div>
      <div class="col-1">
        <p>Position</p>
      </div>
      <div class="col-1">
        <p>Salary</p>
      </div>
    </div>
     <div class="row">
      {% for supervisor in supervisors %}
      <div class="col-2">
        <p>{{supervisor.first_name}}</p>
      </div>
      <div class="col-2">
         <p>{{supervisor.last_name}}</p>
      </div>
      <div class="col-3">
         <p>{{supervisor.user_instance}}</p>
      </div>
      <div class="col-1">
         <p>{{supervisor.age}}</p>
      </div>
      <div class="col-2">
        <p>{{supervisor.date_of_employment}}</p>
      </div>
      <div class="col-1">
        <p>{{supervisor.position}}</p>
      </div>
      <div class="col-1">
        <p>{{supervisor.salary}}</p>
      </div>
      {% endfor %}
    </div>
    
    {% endif %}
   
 
    </div>
{% endblock content %}